body {
  background-color: #eeee;
}

.container {
  background-color: white;
}

.character {
  padding: 20px;
}
h3 {
  margin-bottom: 10px;
}
.heroes {
  background-image: linear-gradient(#eeee, #ffff);
  border: solid 10px gold;
  border-radius: 10px;
}
.enemies :first-child.character {
  padding: 20px;
  border: dotted 2px black;
}
:last-child button {
  margin-left: 5px;
}
